.nav > li > a:hover, .nav > li > a:focus {
	color: white;
	background-color: #d9230f;
}

.pointer {
	cursor: pointer;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #ffffff;
}

.pager li > a:hover, .pager li > a:hover {
    text-decoration: none;
    background-color: #d9230f;
}

.table-updating > tbody > tr > td {
	background-color: #EFEFEF;
	color: #AAAAAA;
}

.index-count {
  padding-left: 0;
  margin: 18px 0;
  list-style: none;
  text-align: center;

  p {
  	line-height: 30px
  }
}

.page-size {
	margin: 18px 0;
	line-height: 30px;
}

.table {
	input[type="radio"], input[type="checkbox"] {
		transform: scale(1.5)
	}
}

/*
.has-feedback i {
  position: absolute;
  top: 12px;
  right: 10px;
}
*/

.text-right {
  text-align: right;
}

.btn-group-2x {
  width: 50%;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.SpinnerModal {
  width: 200px;
  margin-top: 200px;
}